<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camagru</title>
    <link rel="stylesheet" href="{% static "css/vender/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/vender/bootstrap.min.css" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "/assets/favicons/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "/assets/favicons/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "/assets/favicons/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "/assets/favicons/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "/assets/favicons/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "/assets/favicons/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "/assets/favicons/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "/assets/favicons/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/assets/favicons/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "/assets/favicons/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/assets/favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "/assets/favicons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/assets/favicons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "/assets/favicons/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "/assets/favicons/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/owlcarousel/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owlcarousel/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css">
    
</head>
<body>

    <div class="post_page">
        <!--***** nav menu start ****** -->
        <div class="nav_menu">
            <div class="fix_top">
                <!-- nav for big->medium screen -->
                <div class="nav">
                    <div class="logo">
                        <a href="./home.html">
                            <img class="d-block d-lg-none small-logo" src="{% static "assets/favicons/favicon.png" %}" alt="logo">
                            <img class="d-none d-lg-block" src="{% static "assets/bg-images/logo.png" %}" width="128px" alt="logo">
                        </a>
                    </div>
                    <div class="menu">
                        <ul>
                            <li>
                                <a class="active" href="/home">
                                    <img src="{% static "assets/bg-layers/accueil.png" %}">
                                    <span class="d-none d-lg-block">Home</span>
                                </a>
                            </li>
                            <li id="search_icon">
                                <a href="/search">
                                    <img src="{% static "assets/bg-layers/search.png" %}">
                                    <span class="d-none d-lg-block search">Search </span>
                                </a>
                            </li>
                            <li>
                                <a href="/upload-image">
                                    <img src="{% static "assets/bg-layers/plus-square.png" %}">
                                    <span class="d-none d-lg-block ">Create</span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile/{{request.user.username}}">
                                    <img class="circle story" src="{{ request.user.avatar.url }}">
                                    <span class="d-none d-lg-block ">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="more">
                        <div class="btn-group dropup">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="{% static "assets/bg-layers/menu.png" %}">
                                <span class="d-none d-lg-block ">More</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/profile-settings/{{request.user.username}}">
                                        <span>Settings</span>
                                        <img src="{% static "assets/bg-layers/reglage.png" %}">
                                    </a></li>
                                <li><a class="dropdown-item" href="/logout">
                                        <span>Log out</span>
                                    </a></li>
                            </ul>
                        </div>
                        <!--  -->

                    </div>
                </div>
                <!-- nav for small screen  -->
                <div class="nav_sm">
                    <div class="content">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img class="logo" src="{% static "assets/bg-images/logo.png" %}">
                            </button>
                           
                        </div>
                        <div class="left">
                            <div class="search_bar">
                                <div class="input-group">
                                    <div class="form-outline">
                                        <div>
                                            <img src="{% static "assets/bg-layers/search.png" %}" alt="search">
                                        </div>
                                        <input type="search" id="form1" class="form-control" placeholder="Search" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- nav for ex-small screen  -->
                <div class="nav_xm">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img class="logo" src="{% static "assets/favicons/favicon.png" %}">
                        </button>
                        
                    </div>
                  
                </div>
            </div>
            <!-- menu in the botton for smal screen  -->
            <div class="nav_bottom">
                <a href="/home"><img src="{% static "assets/bg-layers/accueil.png" %}"></a>
                <a href="/upload-image"><img src="{% static "assets/bg-layers/plus-square.png" %}"></a>
                <a href="profile.html"><img class="circle story" src="{{ request.user.avatar.url }}"></a>
            </div>
        </div>
       
        <!--***** nav menu end ****** -->

        <div class="second_container">
            <!--***** posts_container start ****** -->
            <div class="main_section">
                <div class="posts_container">
                    <div class="stories">
                        <div class="owl-carousel items">
                        </div>
                    </div>

                    <div class="posts">
                        {% for post in profile_data %}
                            <div class="post">
                                <div class="info">
                                    <div class="person">
                                        <img src="{% if post.profile.avatar %} {{ post.profile.avatar.url}} {% else %} {% static "assets/profile-photos/default-photo.png" %} {% endif %}">
                                        <a href="#">{{ post.profile.username }}</a>
                                        <span class="circle">.</span>
                                        <span>{{post.images_data.humanize_time_diff}}</span>
                                    </div>
                                </div>
                                <div class="image">
                                    <img src="{{ post.images_data.image }}">
                                </div>
                                <div class="desc">
                                    <div class="icons">
                                        <div class="icon_left d-flex">
                                            <div class="like">
                                                {% if not post.images_data.is_liked %}
                                                    <div class="non-liked-{{post.profile.username}}">
                                                        <img src="{% static "assets/bg-layers/love.png"%}">
                                                    </div>
                                                {% else %}
                                                    <div class="liked-{{post.profile.username}}">
                                                        <img src="{% static "assets/bg-layers/heart.png" %}">
                                                    </div>    
                                                {% endif %}                                            
                                            </div>
                                            <div class="chat">
                                                <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#message_modal">
                                                    <img src="{% static "assets/bg-layers/bubble-chat.png" %}" style="width: 28px !important; margin-bottom:5px; ">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="liked" style="margin-top: -10px !important;">
                                        <a class="bold" href="#">{{ post.images_data.likes }} likes</a>
                                    </div>
                                    <div class="post_desc">
                                        <p style="margin-top: -1px !important;">
                                            <a class="bold" href="#">{{ post.profile.username }}</a> {{ post.images_data.description }}
                                        </p>
                                        
                                        <p style="margin-top: -10px !important;">
                                            <a class="gray" href="#">View all {{ post.images_data.comments_count }} comments</a>
                                        </p>
                                        <p class="post_cmmnt">
                                            <a>{{ post.images_data.comments.user.username }}</a> {{ post.images_data.comments.comment}}
                                        </p>
                                        <div style="display:flex; gap:2px;">
                                            <textarea id="w3review" name="w3review" rows="2" cols="50" oninput="adjustHeight(this)" placeholder="Add a comment..."></textarea>
                                            <button class="post_comment" data-post-id="{{ post.images_data.id }}">Post</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <!--***** posts_container end ****** -->

            <!--***** followers_container start ****** -->
            <div class="followers_container">
                <div>
                    <div class="cart">
                        <a href="/profile/{{request.user.username}}"><div>
                            <div class="img">
                                <img src="{{request.user.avatar.url}}" alt="{{request.user.username}}">
                            </div>
                            <div class="info">
                                <p class="name">{{request.user.username}}</p>
                                <p class="second_name">{{request.user.displayname}}</p>
                            </div>
                        </div></a>
                        <div class="switch">
                            <a href="/logout" style="color:red;">Logout</a>
                        </div>
                    </div>
                    <div class="suggestions">
                        <div class="title">
                            <h4>Suggestions for you</h4>
                        </div>
                        {% for suggestion in user_profiles %}
                        <div class="cart">
                            
                                <a href="/profile/{{suggestion.username}}"><div>
                                    <div class="img">
                                        {% if not suggestion.avatar %}
                                            <img src="{% static "assets/profile-photos/default-photo.png" %}" alt="">
                                        {% else %}
                                            <img src="{{suggestion.avatar.url}}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="info">
                                        <p class="name">{{suggestion.username}}</p>
                                        <p class="second_name">{{suggestion.displayname}}</p>
                                    </div>
                                </div></a>
                                <div class="switch">
                                    <button class="follow_text">Follow</button></a>
                                </div>
                            
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="./sass/vender/bootstrap.bundle.js"></script>
    <script src="./sass/vender/bootstrap.bundle.min.js"></script> -->
    <script src="https://kit.fontawesome.com/b80699d249.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="{% static "css/owlcarousel/jquery.min.js" %}"></script>
    <script src="{% static "css/owlcarousel/owl.carousel.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
</body>

</html>