
<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camagru</title>
    <link rel="stylesheet" href="{% static "css/vender/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/vender/bootstrap.min.css" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "/assets/favicons/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "/assets/favicons/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "/assets/favicons/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "/assets/favicons/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "/assets/favicons/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "/assets/favicons/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "/assets/favicons/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "/assets/favicons/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/assets/favicons/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "/assets/favicons/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/assets/favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "/assets/favicons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/assets/favicons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "/assets/favicons/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "/assets/favicons/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/owlcarousel/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owlcarousel/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css">
    
</head>
<body>

    <div class="post_page">
        <!--***** nav menu start ****** -->
        <div class="nav_menu">
            <div class="fix_top">
                <!-- nav for big->medium screen -->
                <div class="nav">
                    <div class="logo">
                        <a href="/home">
                            <img class="d-block d-lg-none small-logo" src="{% static "assets/favicons/favicon.png" %}" alt="logo">
                            <img class="d-none d-lg-block" src="{% static "assets/bg-images/logo.png" %}" width="128px" alt="logo">
                        </a>
                    </div>
                    <div class="menu">
                        <ul>
                            <li>
                                <a class="active" href="/home">
                                    <img src="{% static "assets/bg-layers/accueil.png" %}">
                                    <span class="d-none d-lg-block">Home</span>
                                </a>
                            </li>
                            <li id="search_icon">
                                <a href="#">
                                    <img src="{% static "assets/bg-layers/search.png" %}">
                                    <span class="d-none d-lg-block search">Search </span>
                                </a>
                            </li>
                            <li>
                                <a href="/upload-image">
                                    <img src="{% static "assets/bg-layers/plus-square.png" %}">
                                    <span class="d-none d-lg-block ">Create</span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile/{{request.user.username}}">
                                    <img class="circle story" src="{{ request.user.avatar.url }}">
                                    <span class="d-none d-lg-block ">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="more">
                        <div class="btn-group dropup">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="{% static "assets/bg-layers/menu.png" %}">
                                <span class="d-none d-lg-block ">More</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/profile-settings/{{request.user.username}}">
                                        <span>Settings</span>
                                        <img src="{% static "assets/bg-layers/reglage.png" %}">
                                    </a></li>
                                <li><a class="dropdown-item" href="/logout">
                                        <span>Log out</span>
                                    </a></li>
                            </ul>
                        </div>
                        <!--  -->

                    </div>
                </div>
                <!-- nav for small screen  -->
                <div class="nav_sm">
                    <div class="content">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img class="logo" src="{% static "assets/bg-images/logo.png" %}">
                            </button>
                           
                        </div>
                       
                    </div>
                </div>

                <!-- nav for ex-small screen  -->
                <div class="nav_xm">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img class="logo" src="{% static "assets/favicons/favicon.png" %}">
                        </button>
                        
                    </div>
                  
                </div>
            </div>
            <!-- menu in the botton for smal screen  -->
            <div class="nav_bottom">
                <a href="/home"><img src="{% static "assets/bg-layers/accueil.png" %}"></a>
                <a href="/upload-image"><img src="{% static "assets/bg-layers/plus-square.png" %}"></a>
                <a href="/search"><img src="{% static "assets/bg-layers/search.png" %}"></a>
                <a href="/profile/{{request.user.username}}"><img class="circle story" src="{{ request.user.avatar.url }}"></a>
            </div>
        </div>
       <!-- search  -->
       <div id="search" class="search_section">
            <h2>Search</h2>
            <form method="post">
                <input id="searchInput" type="text" placeholder="Search">
            </form>
            <div class="find">
                <div class="desc">
                    <h4>Results</h4>
                    <p><button class="clear-items-all" onclick="clearSearchResults()">Clear all</button></p>
                </div>
                <div class="account" id="searchResults">
                    
                </div>
            </div>
        </div>
    <!-- search  -->
        <!--***** nav menu end ****** -->

        <div class="profile_container">
            <div class="profile_info">
                <div class="cart">
                        <div class="img">
                            <img src="{{user.avatar.url}}" style="width: 92px !important; height: 92px !important" alt="">
                        </div>
                        <div class="info">
                            <p class="name" style="display:flex !important; align-items:center !important; gap: 10px !important; margin-top: 1.5em; vertical-align: middle !important;">
                                {{user.username}} 
                                {% if user.is_verified %}
                                    <img class="verified" src="{% static "assets/bg-layers/check-circle.png" %}" alt="verified">
                                {% endif %}
                                {% if request.user == user %}
                                    <a href="/profile-settings/{{request.user.username}}"><button class="edit_profile">
                                        Edit profile 
                                    </button></a>
                                {% elif not user.is_followed %}
                                    <button class="follow__profile" id="follow__profile__id" onclick="followOrUnfollow('{{user.username}}', 'follow', 'profile')">Follow</button>
                                    <button class="unfollow__profile" id="unfollow__profile__id" style="display: none;" onclick="followOrUnfollow('{{user.username}}', 'unfollow', 'profile')">Unfollow</button>
                                {% else %}
                                    <button class="unfollow__profile" id="unfollow__profile__id" onclick="followOrUnfollow('{{user.username}}', 'unfollow', 'profile')">Unfollow</button>
                                    <button class="follow__profile" id="follow__profile__id" style="display: none;" onclick="followOrUnfollow('{{user.username}}', 'follow', 'profile')">Follow</button>
                                {% endif %}
                            </p>
                            <div class="general_info">
                                <p><span>{{image_count}}</span> post</p>
                                <p><span id="followers__count">{{user.followers.count}}</span> followers</p>
                                <p><span>{{user.following.count}}</span> following</p>
                            </div>
                            <p class="nick_name">{{user.displayname}}</p>
                            <p class="desc">
                                {% if user.bio %}
                                    {{user.bio}}
                                {% endif %}
                            </p>
                        </div>
                </div>
            </div>
            
            <hr>
            <div class="posts_profile">
                <ul class="nav-pills w-100 d-flex justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item mx-2" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                            <img src="{% static "assets/bg-layers/feed.png"%}" alt="posts">
                            POSTS
                        </button>
                    </li>
                    
                  </ul>
                  {% if not images %} <p style="text-align: center; font-weight:bold; margin-top: 20px; margin-left: 30px;">No posts shared yet.</p> {% endif %}
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                        <div id="posts_sec" class="post">
                            <div class="profile_container">
                                <div class="posts_profile">
                                  <div id="posts_sec" class="post">
                                    {% if images %}
                                        {% for image in images %}
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#commentsModal-{{ image.id }}"><div class="item">
                                            <div class="image-container">
                                            <img class="img-fluid item_img" src="{{ image.image.url }}" alt="">
                                            <div class="overlay">
                                                <div class="icons">
                                                <span class="like-icon"><i class="fa fa-heart"></i></span>
                                                <span class="like-count">{{ image.like_set.count }}</span>
                                                <span class="comment-icon"><i class="fa fa-comment"></i></span>
                                                <span class="comment-count">{{ image.comment_set.count }}</span>
                                                </div>
                                            </div>
                                            </div>
                                        </div></a>

                                        <div class="modal" id="commentsModal-{{ image.id }}" tabindex="-1" aria-labelledby="commentsModalLabel" aria-hidden="true" data-backdrop="false">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                
                                                    <div class="modal-body">
                                                        <!-- Post Sahibi ve Açıklaması -->
                                                        <div class="modal-post-page">
                                                            <div class="modal-post-img">
                                                                <img src="{{ image.image.url }}" alt="Avatar" class="modal-img"> <!-- Burada modal-img sınıfı eklendi -->
                                                            </div>
                                                        </div>
                                                        <div class="modal-post-info-container">
                                                            <div class="modal-post-info">
                                                                <div class="modal-post-owner">
                                                                    <img src="{% if image.user.avatar %} {{ image.user.avatar.url}} {% else %} {% static "assets/profile-photos/default-photo.png" %} {% endif %}" alt="Avatar" class="modal-post-owner-img">
                                                                    <a href="/profile/{{ image.user.username }}" class="modal-post-owner-username">{{ image.user.username }}</a>
                                                                    {% if image.user.is_verified %} <img src="{% static "assets/bg-layers/check-circle.png" %}" alt="Avatar" class="modal-post-owner-verified"> {% endif %}
                                                                    {% if image.description %} <p class="modal-post-description">{{image.description}}</p> {% endif%}
                                                                    <p class="modal-post-time">{{ image.humanized_time }}</p>
                                                                </div>
                                                                <div class="modal-post-like-comments">
                                                                    <div>
                                                                        {% if image.is_liked_by_user %}
                                                                            <span class="like-icon" id="like-icon-{{image.id}}" style="color:red !important;"><i class="fa-solid fa-heart"></i></span>
                                                                            <span class="like-count" id="like-count-{{image.id}}">{{ image.like_set.count }}</span>
                                                                        {% else %}
                                                                            <span class="like-icon" id="like-icon-{{image.id}}"><i class="fa fa-heart"></i></span>
                                                                            <span class="like-count" id="like-count-{{image.id}}">{{ image.like_set.count }}</span>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div>
                                                                        <span class="comment-icon"><i class="fa fa-comment"></i></span>
                                                                        <span class="comment-count" id="comment-count-{{image.id}}">{{ image.comment_set.count }}</span>
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="modal-post-comments">
                                                                    <p style="margin-top:5px; margin-bottom: -5px; text-align:center;">Comments</p>
                                                                    <div class="modal-post-comments-container" id="messageListField-{{image.id}}">
                                                                        {% for comment in image.comment_set.all %}
                                                                            <div class="modal-post-comment">
                                                                                <img src="{% if comment.user.avatar %} {{ comment.user.avatar.url}} {% else %} {% static "assets/profile-photos/default-photo.png" %} {% endif %}" alt="Avatar" class="modal-post-comment-img">
                                                                                <a href="/profile/{{ comment.user.username }}" class="modal-post-comment-username">{{ comment.user.username }}</a>
                                                                                <p class="modal-post-comment-comment"> {{ comment.comment }}</p>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="like-inmodal">
                                                                    <p style="margin-top:5px; margin-bottom: 5px; text-align:center;">Like Action</p>
                                                                    {% if image.is_liked_by_user %}
                                                                        <a onclick="likeImage(`{{image.id}}`, `like`)" id="like-image-{{image.id}}" style="display:none" style="color:red !important;"><i class="fa-solid fa-heart"></i></a>
                                                                        <a onclick="likeImage(`{{image.id}}`, `unlike`)" id="unlike-image-{{image.id}}" ><i class="fa-solid fa-heart"></i></a>
                                                                    {% else %}
                                                                        <a onclick="likeImage(`{{image.id}}`, `like`)" id="like-image-{{image.id}}" style="color:red !important;"><i class="fa-solid fa-heart"></i></a>
                                                                        <a onclick="likeImage(`{{image.id}}`, `unlike`)" id="unlike-image-{{image.id}}" style="display:none"><i class="fa-solid fa-heart"></i></a>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="modal-post-comment-input">
                                                                    <textarea class="textarea-post-comment" id="post_message_{{image.id}}" name="w3review" rows="2" cols="50" placeholder="Add a comment..."></textarea>
                                                                    <button class="post_comment" onclick="sendMessage(`{{image.id}}`, `inmodal`)">Post</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                   
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                              
                            
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination custom-pagination justify-content-center">
                            {% for num in page_numbers %}
                                {% if page == num %}
                                    <li class="page-item active">
                                        <span class="page-link"></span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}"></a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>              
                                   
                    
                  </div>
            </div>
        </div>
        
        

        

    <!-- <script src="./sass/vender/bootstrap.bundle.js"></script>
    <script src="./sass/vender/bootstrap.bundle.min.js"></script> -->
    <script src="https://kit.fontawesome.com/b80699d249.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="{% static "css/owlcarousel/jquery.min.js" %}"></script>
    <script src="{% static "css/owlcarousel/owl.carousel.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <script src="{% static "js/home.js" %}"></script>
    <script src="{% static "js/profile.js" %}"></script>
</body>

</html>





