<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile - Camagru</title>
    <link rel="stylesheet" href="{% static "css/vender/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/vender/bootstrap.min.css" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "/assets/favicons/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "/assets/favicons/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "/assets/favicons/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "/assets/favicons/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "/assets/favicons/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "/assets/favicons/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "/assets/favicons/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "/assets/favicons/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/assets/favicons/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "/assets/favicons/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/assets/favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "/assets/favicons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/assets/favicons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "/assets/favicons/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "/assets/favicons/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/owlcarousel/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owlcarousel/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css">
    
</head>
<body>

    <div class="post_page">
        <!--***** nav menu start ****** -->
        <div class="nav_menu">
            <div class="fix_top">
                <!-- nav for big->medium screen -->
                <div class="nav">
                    <div class="logo">
                        <a href="/home">
                            <img class="d-block d-lg-none small-logo" src="{% static "assets/favicons/favicon.png" %}" alt="logo">
                            <img class="d-none d-lg-block" src="{% static "assets/bg-images/logo.png" %}" width="128px" alt="logo">
                        </a>
                    </div>
                    <div class="menu">
                        <ul>
                            <li>
                                <a class="active" href="/home">
                                    <img src="{% static "assets/bg-layers/accueil.png" %}">
                                    <span class="d-none d-lg-block">Home</span>
                                </a>
                            </li>
                            <li id="search_icon">
                                <a href="#">
                                    <img src="{% static "assets/bg-layers/search.png" %}">
                                    <span class="d-none d-lg-block search">Search </span>
                                </a>
                            </li>
                            <li>
                                <a href="/upload-image">
                                    <img src="{% static "assets/bg-layers/plus-square.png" %}">
                                    <span class="d-none d-lg-block ">Create</span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile/{{request.user.username}}">
                                    <img class="circle story" src="{{ request.user.avatar.url }}">
                                    <span class="d-none d-lg-block ">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="more">
                        <div class="btn-group dropup">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="{% static "assets/bg-layers/menu.png" %}">
                                <span class="d-none d-lg-block ">More</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/profile-settings/{{request.user.username}}">
                                        <span>Settings</span>
                                        <img src="{% static "assets/bg-layers/reglage.png" %}">
                                    </a></li>
                                <li><a class="dropdown-item" href="/logout">
                                        <span>Log out</span>
                                    </a></li>
                            </ul>
                        </div>
                        <!--  -->

                    </div>
                </div>
                <!-- nav for small screen  -->
                <div class="nav_sm">
                    <div class="content">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img class="logo" src="{% static "assets/bg-images/logo.png" %}">
                            </button>
                           
                        </div>
                       
                    </div>
                </div>

                <!-- nav for ex-small screen  -->
                <div class="nav_xm">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img class="logo" src="{% static "assets/favicons/favicon.png" %}">
                        </button>
                        
                    </div>
                  
                </div>
            </div>
            <!-- menu in the botton for smal screen  -->
            <div class="nav_bottom">
                <a href="/home"><img src="{% static "assets/bg-layers/accueil.png" %}"></a>
                <a href="/upload-image"><img src="{% static "assets/bg-layers/plus-square.png" %}"></a>
                <a href="/search"><img src="{% static "assets/bg-layers/search.png" %}"></a>
                <a href="/profile/{{request.user.username}}"><img class="circle story" src="{{ request.user.avatar.url }}"></a>
            </div>
        </div>
       <!-- search  -->
       <div id="search" class="search_section">
            <h2>Search</h2>
            <form method="post">
                <input id="searchInput" type="text" placeholder="Search">
            </form>
            <div class="find">
                <div class="desc">
                    <h4>Results</h4>
                    <p><button class="clear-items-all" onclick="clearSearchResults()">Clear all</button></p>
                </div>
                <div class="account" id="searchResults">
                    
                </div>
            </div>
        </div>
    <!-- search  -->
        <!--***** nav menu end ****** -->

        <div class="second_container">
            <!--***** posts_container start ****** -->
            <div class="main_section">
                <div class="posts_container">
                    <div class="profile_settings">
                        <h2>Edit profile</h2>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="profile-change-container">
                                <div class="profile-change-img">
                                    <img src="{{ request.user.avatar.url }}" alt="profile">
                                    <h5>{{ request.user.username }}</h5>
                                </div>
                                <div class="profile-change-btn">
                                    <button class="change-avatar" id="change-profile">Change photo</button>
                                </div>
                            </div>
                            <div class="profile-info-container">
                                <h5>Profile information</h5>
                                <div class="form-group">
                                    <p class="form-label">Username</p>
                                    <input type="text" class="settings-form-control" id="username" name="username" value="{{ request.user.username }}">
                                </div>
                                <div class="form-group">
                                    <p class="form-label">Email</p>
                                    <input type="email" class="settings-form-control" id="email" name="email" value="{{ request.user.email }}">
                                </div>
                                <div class="form-group">
                                    <p class="form-label">Bio</p>
                                    <textarea class="settings-form-control" id="bio" name="bio">{{ request.user.bio }}</textarea>
                                </div>
                                <div class="form-group">
                                    <div class="password-container">
                                        <p class="form-label">Password</p>
                                        <input type="password" class="settings-form-control" id="password" name="password">
                                        <button type="button" class="togglePasswordBtn" style="font-weight:bold" id="togglePassword">Show</button>
                                    </div>
                                </div>
                                <h5 style="margin-top: 2em;">Notifications</h5>
                                <div class="form-group">
                                    <p class="form-label">Email notifications</p>
                                    <div class="form-check">
                                        <div style="width: 70% !important">
                                            <label class="email-notification-headtext" for="email-notifications">Receive email notifications</label>
                                            <p class="email-notification-text">Receive email notifications when someone likes or comments on your posts. You can change whenever.</p>
                                        </div>
                                        <label class="switch">
                                            <input type="checkbox" name="is_email_notification" {% if request.user.is_email_notification %}checked{% endif %}>
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                
                    
                </div>
            </div>
            <!--***** posts_container end ****** -->

            <!--***** followers_container start ****** -->
           
        </div>

        
    </div>

    <!-- <script src="./sass/vender/bootstrap.bundle.js"></script>
    <script src="./sass/vender/bootstrap.bundle.min.js"></script> -->
    <script src="https://kit.fontawesome.com/b80699d249.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="{% static "css/owlcarousel/jquery.min.js" %}"></script>
    <script src="{% static "css/owlcarousel/owl.carousel.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <script src="{% static "js/profile-settings.js" %}"></script>
</body>

</html>