<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title> 
    <link rel="stylesheet" href="{% static "css/vender/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/vender/bootstrap.min.css" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "/assets/favicons/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "/assets/favicons/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "/assets/favicons/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "/assets/favicons/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "/assets/favicons/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "/assets/favicons/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "/assets/favicons/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "/assets/favicons/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/assets/favicons/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "/assets/favicons/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/assets/favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "/assets/favicons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/assets/favicons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "/assets/favicons/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "/assets/favicons/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <div class="container">
        <div class="login">
            <div class="images d-none d-lg-block">
                <div class="frame">
                    <img src="{% static "assets/bg-images/home-phones.png" %}" alt="picutre frame">
                </div>
                <div class="sliders">
                    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{% static "assets/bg-images/screenshot1.png" %}" class="d-block" alt="screenshot1">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static "assets/bg-images/screenshot2.png" %}" class="d-block" alt="screenshot2">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static "assets/bg-images/screenshot3.png" %}" class="d-block" alt="screenshot3">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static "assets/bg-images/screenshot4.png" %}" class="d-block" alt="screenshot4">
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="content">
                <div class="log-on border_insc">
                    <div class="logo">
                        <a href="/"><img src="{% static "assets/bg-images/logo.png" %}" alt="Camagru logo"></a>
                        <div class="error-container" style="font-size:13px;">
                            {% if form.errors %}
                                <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li> {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li><strong>General:</strong> {{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    
                    
                    <form class="form" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                      
                        <div class="password-container">
                            <input type="password" name="new_password1" required id="id_new_password1" placeholder="Password">
                            <button type="button" class="togglePasswordBtn" id="togglePassword">Show</button>
                        </div>
                        <div class="password-container">
                            <input type="password" name="new_password2" required id="id_new_password2" placeholder="Confirm Password">
                            <button type="button" class="togglePasswordBtn" id="togglePassword2">Show</button>
                        </div>
                        <button class="log_btn" type="submit">
                            Change Password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p class="copyright">
            &copy; 2021 Camagru. All rights reserved by <a href="https://www.github.com/fleizean">eyagiz</a>.
        </p>
        <p class="links">
            <a href="/about">About</a>
            <a href="https://www.github.com/fleizean">Contact</a>
            <a href="https://www.github.com/fleizean">Help</a>
            <a href="/privacy-policy-gdpr">Privacy Policy & GDPR</a>
        </p>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="{% static "js/set_password.js" %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> -->
</body>
</html>